# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\graphicsproject\AmazonSimulatie_Java_2020\AmazonSimulatie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
